<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jobs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,156},{51,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>jobs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,79},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>jobs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{51,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>jobs4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
            <key>jobs5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{57,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{73,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jobs.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b5e6ea729d47cc452a8a2b2177e1195:1/1$</string>
            <key>textureFileName</key>
            <string>jobs.png</string>
        </dict>
    </dict>
</plist>
